.trophy-detail-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 100%;
    padding: 0 1rem 0 1rem;
    gap: 1rem;
}

.trophy-detail-container li {
    position: relative;
}

.date-trophy-info{
    color: white;
}

.trophy-detail-table{
    width: 100%;
    border-collapse: collapse;
}

.trophy-detail-table tr{
    transition: .1s transform;
}

.trophy-detail-table tr:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px #0f0f0f;
}

.trophy-detail-table tr:nth-child(even){
    /*border-bottom: .5px solid rgb(88, 88, 88);*/
    background-color: #2d3349;
}

.trophy-detail-table tr:nth-child(odd){
    background-color: #222;
}

.trophy-detail-aditional-info{
    width: 30%;
}

@media(max-width:850px){
    .trophy-detail-table{
        width: 100%;
    }
    .trophy-detail-container{
        flex-direction: column;
        padding: 0%;
    }
    .trophy-detail-aditional-info{
        width: 100%;
    }
}

.not-achieved{
    opacity: .5;
}

.trophy-icon{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
}

.main-trophy-info{
    display: flex;
    align-items: center;
    gap: .5rem;
}

td{
    padding: .3rem;
    cursor: pointer;
    position: relative;
}

.date-trophy-info{
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

.trophy-desc-name{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.trophy-description{
    font-size: small;
    color: #9d9999;
}

.earned-rate{
    text-align: center;
}
.earned-rate{
    color: white;
}

.trophy-name{
    color: white;
}

/**/
.first-trophy > p, .latest-trophy > p, .rarest-trophies > p{
    padding: .6rem;
    background-color: #222;
    color: white;
    margin-bottom: .2rem;
}

.trophy-detail-aditional-info{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.trophy-detail-aditional-info .main-trophy-info{
    cursor: pointer;
    background-color: #2d3349;
    transition: .1s transform;
}

.trophy-detail-aditional-info .main-trophy-info:hover{
    transform: translateY(-5%);
    box-shadow: 5px 5px 5px black;
}

/*MODALES*/


.overlay{
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #22222282;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trophy-modal{
    position: absolute;
    /*transform: translateY(-200%);*/
    transform: scale(.5);
    transition: .1s transform cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    padding: 1rem;
    background-color: #0f0f0f;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.close-modal{
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    border: none;
    background-color: #222;
    overflow: hidden;
    width: 2rem;
}

.close-modal::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: -100%;
    left: 0px;
    transition: .5s top;
    z-index: 0;
}

.bx-plus-medical{
    transform: rotate(45deg);
    color: white;
    z-index: 5;
}

.close-modal:hover::before{
    top: 0px;
    z-index: 0;
}

.close-modal:hover .bx-plus-medical{
    color: black;
}

.opened{
    /*transform: translateY(0);*/
    transform: scale(1);
}

.trophy-description{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
